body {
    color: #fff;
    background: #010101;
    font-family: "Google Sans Code", "monospaced";
}

button,
[type="file"],
::file-selector-button {
    color: #fff;
    border: 1px solid;
    width: 120px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 3px;
}

button:hover,
::file-selector-button:hover {
    filter: brightness(120%);
    cursor: pointer;
}

#play {
    color: oklch(0.9 0.1 150);
    border-color: oklch(0.59 0.2 160);
    background: oklch(0.4 0.2 160 / 0.33);
    flex-shrink: 2;
}

#stop {
    color: oklch(0.9 0.1 20);
    border-color: oklch(0.59 0.2 50);
    background: oklch(0.4 0.2 50 / 0.33);
    flex-shrink: 2;
}

::file-selector-button {
    height: 100%;
    width: 150px;
    color: oklch(0.9 0.07 220);
    background-color: oklch(0.4 0.2 210 / 0.33);
    border-color: oklch(0.6 0.2 210);
}

[type="file"] {
    width: 33%;
    color: oklch(0.7 0.1 220);
    background-color: oklch(0.3 0.1 220 / 0.33);
    border: none;
    text-transform: none;
    font-weight: 200;
}

form#waveform {
    padding: 2px 8px;
    border: 1px solid oklch(0.4 0 0);
    width: 50%;
    background-color: oklch(0.3 0 0 / 0.33);
    border-radius: 3px;
}

input[type="number"] {
    color: #fff;
    font-family: "Google Sans Code", monospace;
    font-size: 16px;
    background-color: oklch(0.4 0 0);
    border: 1px solid oklch(0.6 0 0);
    border-radius: 2px;
    width: 60px;
    text-align: right;
}

input[type="radio"] {
    background-color: #fffa;
}

[value="sine"] {
    accent-color: oklch(0.75 0.2 210);
}

[value="triangle"] {
    accent-color: oklch(0.75 0.2 190);
}

[value="square"] {
    accent-color: oklch(0.75 0.2 160);
}

[value="sawtooth"] {
    accent-color: oklch(0.75 0.2 90);
}

section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

label {
    color: #fffc;
}

label>strong {
    font-weight: 500;
    color: oklch(0.9 0.16 80);
}

strong.cyan {
    color: oklch(0.88 0.16 200);
}

section#canvases {
    position: relative;
}

#canvases>canvas {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(0, 0, 0, 0);
}

i {
    font-size: 1.4em;
    font-style: normal;
    letter-spacing: -3px;
}

i[aria-label="sine"] {
    font-size: 2.4em;
    line-height: 1px;
}
