@font-face {
    font-family: "monocraft";
    src: url("./assets/Monocraft-ttf/Monocraft.ttf") format("truetype"),
}

@font-face {
    font-family: "monocraft";
    src: url("./assets/Monocraft-ttf/weights/Monocraft-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: oklch(0.97 0.01 240/0.8);
    --trans-text: oklch(0.97 0.01 240/0.3);
    --subtitle: oklch(0.77 0.07 240/0.8);
    --trans-subtitle: oklch(0.77 0.07 240/0.4);
    --muted-accent: oklch(0.42 0.15 240);
    --trans-muted-accent: oklch(0.4 0.15 240/.7);
    --accent: oklch(0.77 0.17 240);
    --highlight-accent: oklch(0.9 0.17 240);
    --strong: oklch(0.63 0.23 250);
    --links: oklch(0.63 0.23 250);
    --background: oklch(0.3 0.02 240 / 0.7);
}

.default-color {
    color: var(--text-color);
}

.gap {
    height: 0px;
}

.highlight {
    color: var(--highlight-accent);
    font-weight: 500;
}

body {
    background: oklch(0.1 0.02 255);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Google Sans Code', monospace;
    letter-spacing: -0.1rem;
    row-gap: 36px;
}

header,
section {
    border-left: 0.4rem solid var(--muted-accent);
    border-radius: 0.7rem;
    background: oklch(from var(--muted-accent) 0.3 0.02 h / 0.5);
    width: 800px;
    max-width: 900px;

    @media (max-width: 720px) {
        width: 100%;
    }
}

.divider {
    height: 3.5rem;
    border-right: 0.42rem dotted var(--trans-muted-accent);
    border-radius: 0;
}

section+.divider {
    width: 1rem;
    margin: .5rem 0;
    height: 2rem;
    display: inline-block;
    text-align: center;
    border-color: var(--background);
}

h2,
h3,
h4 {
    font-weight: 300;
    font-family: 'Google Sans Code', monospace;
    letter-spacing: -.05em;
    font-size: 3rem;
    color: var(--accent);
    display: flex;
    align-items: center;

    @media (max-width: 720px) {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 3.33rem;
}

h4 {
    padding: 0;
    font-size: 2.2rem;
    font-weight: 300;
    display: block;

    @media (max-width: 720px) {
        font-size: 2em;
    }
}

h5 {
    margin-top: 2rem;
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--subtitle);
}

h4>em,
h3>em {
    padding: 0;
    font-weight: 500;
}

h4+span,
h3+span {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
    letter-spacing: -0.5px;
    line-height: 2.2rem;
    color: var(--subtitle);
    font-size: 1.2rem;
    font-weight: 300;

    &>em {
        color: var(--text-color);
        font-weight: 400;
    }
}

article {
    margin-top: 1rem;
    display: flex;
}

article h5 {
    padding-right: 2rem;
    margin: 0;
}

article p {
    margin: 0;
    margin-bottom: 1rem;
    flex-basis: 50%;
    font-weight: 300;
}

article p:only-of-type {
    flex-basis: 100%;
}

article+div.divider,
article div.divider {
    border-color: var(--trans-subtitle);
    height: 2rem;
    width: 0;
    align-self: center;
    margin: .5rem 2.5rem;
}

article div.divider {
    height: calc(100% - 3rem);
}

article:last-of-type div.divider {
    border: none;
}

.divider+h5 {
    margin-top: 0;
}

img#profile {
    display: block;
    mix-blend-mode: lighten;
    width: 33%;
    filter: hue-rotate(-2deg) saturate(84%) brightness(95%);
    border: 6px solid var(--accent);
    border-radius: 1.75rem;
}

img#waveflower-icon {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    margin-right: 6px;
    mix-blend-mode: lighten;
}

p {
    margin-top: 18px;
    font-weight: 200;
    font-size: 1.33rem;
    letter-spacing: -0.02rem;
    line-height: 1.7em;

    @media (max-width: 720px) {
        font-size: 1.2rem;
    }
}

section.bullets p::first-letter {
    font-family: monocraft, 'Google Sans Code', monospace;
    font-weight: 600;
    color: var(--trans-text);
}

p.highlight {
    color: var(--strong);
    font-weight: 300;

    &>em {
        color: var(--accent);
        font-weight: 500;
    }
}

section.bullets p {
    line-height: 2rem;

    &>strong {
        color: inherit;
    }
}

pre {
    font-family: inherit;
}

strong {
    font-weight: 600;
    color: var(--strong);
}

section,
header {
    padding: 24px 36px;

    @media (max-width: 720px) {
        padding: 24px 18px;
    }
}

header>.row {
    padding: 1rem 0;
}

a {
    color: var(--links);
}

a:hover {
    color: var(--accent);
}

em {
    padding: 0px;
}

audio {
    width: 140px;
    height: 1.5em;
    vertical-align: middle;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
