:root {
  --background: #0000 !important;
  --selection: oklch(0.5 0.24 240 / 0.3) !important;
}

span.ͼ14 {
  color: oklch(0.75 0.23 240);
}

span.ͼt {
  color: oklch(0.7 0.2 340);
}

span.ͼ11 {
  color: oklch(0.7 0.2 170);
}

span.ͼ19 {
  color: oklch(0.75 0.23 320);
}

span.ͼ16 {
  color: oklch(0.7 0.01 70) !important;
}

#test-canvas:hover {
  filter: opacity(100%) !important;
}

#repl+div {
  background: #0000 !important;
}

.cm-content {
  filter: saturate(2) !important;
}

.cm-line::first-letter {
  font-weight: 500;
  font-style: italic;
}
