:root {
  --background: #0000 !important;
  --selection: oklch(0.5 0.24 240 / 0.3) !important;
}

span.ͼ10 {
  color: oklch(0.6 0.24 270);
}

span.ͼ14 {
  color: oklch(0.7 0.2 240);
}

span.ͼt {
  color: oklch(0.7 0.2 340);
}

span.ͼu {
  color: oklch(0.8 0.2 10);
}

span.ͼ11 {
  color: oklch(0.7 0.2 160);
}

span.ͼz {
  color: oklch(0.8 .2 95);
}

span.ͼ19 {
  color: oklch(0.75 0.23 320);
}

span.ͼ16 {
  color: oklch(0.7 0.01 70) !important;
}

#test-canvas:hover {
  filter: opacity(100%) !important;
}

#repl+div {
  background: #0000 !important;
}

.cm-content {
  filter: saturate(2) !important;
}

.cm-line::first-letter {
  font-weight: 500;
}
